.textWrapper{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px 0;
}

.textHeading{
  margin: 0;
  padding: 15px 0;
}

.textParagraph{
  margin: 0;
  padding: 6px 0;
}

.imageWrapper{
  display: flex;
  gap: 40px;
  padding: 20px 40px;
  align-items: center;
  justify-content: center; 
}

.image1{
  border: 5px solid #5C8374;
  border-radius: 20px;
  max-width: 450px;
  aspect-ratio: 306 / 204;
  flex-shrink: 1;
}

.image2{
  border: 5px solid #5C8374;
  border-radius: 20px;
  max-width: 450px;
  aspect-ratio: 400 / 300;
  flex-shrink: 1;
}

.image3{
  border: 5px solid #5C8374;
  border-radius: 20px;
  max-width: 450px;
  aspect-ratio: 300 / 200;
  flex-shrink: 1;
}

