.nav-wrapper{
    display: flex;
    gap: 50px;
    justify-content: center;
    padding: 25px 0;
    background-color: #1B4242;
    font-size: 25px;
}

.link{
    color: #9EC8B9;
    text-decoration: none;
}